.board{
  width: 1280px;
  height: 580px;
  border: solid black 1px;
  margin: 100px 50px;
  display: grid;
  grid-template-columns:  repeat(7,1fr);
  
}

div.dice{
	float:left;
	width:32px;
	background:#F5F5F5;
	border:#999 1px solid;
	padding:10px;
	font-size:24px;
	text-align:center;
	margin:5px;
}
.xxx{
text-align: center;
margin-top:10px;
}
.www{
  border: solid black 1px;
}
.red{
  background: red;
}
.green{
  background: green;
}
.yellow{
  background: yellow;
}
.orange{
  background: rgb(255, 166, 0);
}
.pink{
  background: pink;
}
.blue{
  background: blue;
}
#human{
  position: absolute;
  top: 400px;
  left: 1240px;
}
.dice{
  position: absolute;
  top: 30%;
  left: 30%;
}